<div class="d-flex justify-content-center section-datos">
  <form class="container" #form>
    <div class="row w-100 m-0 my-2 px-1">
      <h2 class="text-center text-uppercase">Datos del contribuyente</h2>
      <div class="col-4">
        <select
          class="form-select mb-3"
          aria-label="Default select example"
          (change)="selectPersona()"
          #s_persona
        >
          <option selected value="0" disabled>Tipo de Persona</option>
          <option value="Natural">Natural</option>
          <option value="Juridica">Juridica</option>
        </select>
      </div>
      <div class="col-4">
        <select
          class="form-select mb-3"
          aria-label="Default select example"
          (change)="selectDocumento()"
          #t_documento
        >
          <option selected value="0" disabled>Tipo de Documento</option>
          <option
            *ngFor="let data of selectDocumentoArray"
            value="{{ data.idTipodocumento }}"
          >
            {{ data.NombreDoc }}
          </option>
        </select>
      </div>
      <div class="col-4">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1"
            ><i class="fa fa-id-card-o" aria-hidden="true"></i
          ></span>
          <input
            type="number"
            class="form-control"
            maxlength="8"
            placeholder="Numero de Documento"
            aria-label="Username"
            [(ngModel)]="contribuyente.P_Documento"
            name="documento"
            aria-describedby="basic-addon1"
          />
        </div>
      </div>
      <div class="col-6">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1"
            ><i class="fa fa-user" aria-hidden="true"></i
          ></span>
          <input
            type="text"
            class="form-control"
            placeholder="Nombre Completo"
            aria-label="Username"
            name="nombreCompleto"
            [(ngModel)]="contribuyente.P_NombreCompleto"
            aria-describedby="basic-addon1"
          />
        </div>
      </div>
    </div>
    <!-- ? Recorrer ng for distrito -->
    <div class="row w-100 m-0 px-1 my-2">
      <h2 class="text-center text-uppercase">Domicilio Fiscal</h2>
      <div class="col-6">
        <select class="form-select mb-3" (change)="selectDistrito()" #distrito>
          <option selected value="0" disabled>Seleccione distrito</option>
          <option
            *ngFor="let data of selectDistritoArray"
            value="{{ data.idDistrito }}"
          >
            {{ data.nombre }}
          </option>
        </select>
      </div>
      <div class="col-6">
        <div class="input-group mb-3">
          <input
            type="number"
            class="form-control"
            id="basic-url"
            placeholder="Tipo de Via"
            [(ngModel)]="contribuyente.P_Tipovia"
            name="tipoVia"
          />
        </div>
      </div>
    </div>
    <div class="row w-100 m-0 px-1 my-2">
      <div class="col-4">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Calle"
            [(ngModel)]="contribuyente.P_Calle"
            name="calle"
          />
        </div>
      </div>
      <div class="col-8">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Referencia"
            [(ngModel)]="contribuyente.P_Referencia"
            name="referencia"
          />
        </div>
      </div>
    </div>

    <div class="row w-100 m-0 px-1 my-2">
      <div class="col-2">
        <input
          type="text"
          class="form-control"
          placeholder="Nª"
          [(ngModel)]="contribuyente.P_Numerodomicilio"
          name="n"
          aria-label="Username"
        />
      </div>
      <div class="col-2">
        <input
          type="text"
          class="form-control"
          placeholder="Km"
          name="km"
          [(ngModel)]="contribuyente.P_KmDomicilio"
          aria-label="Username"
        />
      </div>
      <div class="col-2">
        <input
          type="text"
          class="form-control"
          placeholder="Mz"
          [(ngModel)]="contribuyente.P_ManzanaDomicilio"
          name="mz"
          aria-label="Username"
        />
      </div>
      <div class="col-2">
        <input
          type="text"
          class="form-control"
          placeholder="Lt"
          [(ngModel)]="contribuyente.P_LoteDomicilio"
          name="lote"
          aria-label="Username"
        />
      </div>
      <div class="col-2">
        <input
          type="text"
          class="form-control"
          placeholder="Int"
          [(ngModel)]="contribuyente.P_Int"
          name="int"
          aria-label="Username"
        />
      </div>
      <div class="col-2">
        <input
          type="text"
          class="form-control"
          placeholder="Dpt"
          [(ngModel)]="contribuyente.P_Dpto"
          name="dpt"
          aria-label="Username"
        />
      </div>
      <div class="col-12 d-flex justify-content-center pt-3">
        <button class="btn btn-primary" type="button" (click)="nextTab()">
          Siguiente <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </form>
</div>
